<br>
<br>
<h1 class="display-4">Ingresa tus datos</h1>
<div style="width:50%; margin-left:24%">
<hr style="margin-left:-5%">
</div>
<div id="maxWidth" class="shadow p-3 mb-5 bg-white rounded" style="width:700px; margin-left: 17%">
<div class="conteiner">
    <div class="row">
        <div class="col md-4">
            <br>
            <form name="form" [formGroup]="form">
                <input [(ngModel)]="this.user.nameUser" class="form-control" formControlName="nameUser"  required='' type='text'>
                <label alt='Nombre del Usuario' placeholder='Nombre del usuario'></label>
            </form>
        </div>
    </div>
</div>
<hr>
<div class="conteiner">
  <div class="row">
      <div class="col md-4">
          <br>
          <form name="form" [formGroup]="form">
              <input [(ngModel)]="this.user.password" class="form-control" formControlName="password"  required='' type='password'>
              <label alt='Contraseña' placeholder='Contraseña'></label>
          </form>
      </div>
  </div>
</div>
<hr>
<br>
  <div class="conteiner">
    <div class="row">
      <div class="col md-2">
        <form name="form" [formGroup]="form">
          <select  [(ngModel)]="this.user.rol" class="form-control" formControlName="rol" [ngClass]="{'is-invalid': 
          form.get('rol').touched && form.get('rol').invalid}"  required="" class="custom-select">
            <option value="" hidden></option>
             <option value="ADMIN">ADMIN</option>
             <option value="DIRECTOR">Director/Sub Director</option>
             <option value="COORDINATOR">Coordinador</option>
             <option value="INSTRUCTOR">Instructor</option>
             <option value="SECRETARY">Secretaría</option>
          </select>
          <label for="Rol" alt='Rol' placeholder='Rol'></label>
          <div class="invalid-feedback">
            <div>
              Seleccione la rol
            </div>
           </div>
        </form>   
      </div>
    </div>
  </div>
<hr>
<div >
<button type="button"  style="text-align: right"(click)="onSubmit()" class="btn btn-outline-primary float-right  ">Crear Usuario </button>
</div>
<br>
<br>
</div>