
<br>
<h1 class="display-4">Ingrese su Curso a Red de Estudio</h1>
<div style="width:50%; margin-left:24%">
   <!-- <div style="width:40%; margin-left:27%">-->
<hr style="margin-left:-5%">
</div>
<div id="maxWidth" class="shadow p-3 mb-5 bg-white rounded" style="width:700px; margin-left: 17%">
  <div class="container" >
  <div class="row">
    <div class="col md-4">
      <form name="form" [formGroup]="form">
          <select  class="form-control" formControlName="" required="" [ngClass]="{'is-invalid': 
          form.get('jornada').touched && form.get('jornada').invalid}" class="custom-select" [(ngModel)]="this.assignment.workingDay">
              <option value="" hidden></option>             
          </select>
          <label for="Seleccione Red" alt='Seleccione Red' placeholder='Seleccione Red'></label>
          <div class="invalid-feedback">
            <div style="margin-left: 3%; position: absolute; top: 70%">
                Seleccione Red
            </div>
        </div>
      </form>   
  </div>
<hr>
    <div class="col md-4">
      <form name="form" [formGroup]="form">
          <select  class="form-control" formControlName="" required="" [ngClass]="{'is-invalid': 
          form.get('jornada').touched && form.get('jornada').invalid}" class="custom-select" [(ngModel)]="this.assignment.workingDay">
              <option value="" hidden></option>
          </select>
          <label for="Seleccione Carrera" alt='Seleccione Carrera' placeholder='Seleccione Carrera'></label>
          <div class="invalid-feedback">
            <div style="margin-left: 3%; position: absolute; top: 70%">
                Seleccione Carrera
            </div>
        </div>
      </form>   
  </div>
</div>
</div>
<div class="container">
<div class="row">
  <div class="col md-4">
    <form name="form" [formGroup]="form">
        <select  class="form-control" formControlName="" required="" [ngClass]="{'is-invalid': 
        form.get('jornada').touched && form.get('jornada').invalid}" class="custom-select" [(ngModel)]="this.assignment.workingDay">
            <option value="" hidden></option>
        </select>
        <label for="Seleccione Grado" alt='Seleccione Grado' placeholder='Seleccione Grado'></label>
        <div class="invalid-feedback">
          <div style="margin-left: 3%; position: absolute; top: 70%">
              Seleccione Grado
          </div>
      </div>
    </form>   
</div>

  <div class="col md-4">
    <form name="form" [formGroup]="form">
        <select  class="form-control" formControlName="" required="" [ngClass]="{'is-invalid': 
        form.get('jornada').touched && form.get('jornada').invalid}" class="custom-select" [(ngModel)]="this.assignment.workingDay">
            <option value="" hidden></option>
        </select>
        <label for="Seleccione Cursos" alt='Seleccione Cursos' placeholder='Seleccione Cursos'></label>
        <div class="invalid-feedback">
          <div style="margin-left: 3%; position: absolute; top: 70%">
              Seleccione Cursos
          </div>
      </div>
    </form>   
</div>
</div>
<div >
<button type="button"  style="text-align: right"(click)="onSumit()" class="btn btn-outline-primary float-right  ">Guardar</button>
</div>
<br>
<br>

</div>