<!-- <ul >
  <li><a routerLink="/Save-People">Person</a></li>
  <li><a routerLink="/Add-family">Family</a></li>
  <li><a routerLink="/Save-Units-Academic">Units</a></li>
  <li><a routerLink="/List-Career">Careers</a></li>
  <li><a routerLink="/List-Course">Courses</a></li>
  <li><a routerLink="/List-Redes">Redes de estudio</a></li>
  <li><a routerLink="/listInstructor">Instructores</a></li>
</ul> -->

<div class="header">
  <div class="logo">
    Systema Kinal
  </div>
  <div class="menu">
    <a routerLink="/Save-People" class="link">
      <div class="title">Persons</div>
      <div class="bar"></div>
    </a>
    <a routerLink="/Add-family" class="link">
      <div class="title">Family</div>
      <div class="bar"></div>
    </a>
    <a routerLink="/Save-Units-Academic" class="link">
      <div class="title">Units</div>
      <div class="bar"></div>
    </a>
    <a routerLink="/List-Career" class="link">
      <div class="title">Careers</div>
      <div class="bar"></div>
    </a>
    <a routerLink="/List-Course" class="link">
      <div class="title">Courses</div>
      <div class="bar"></div>
    </a>
    <a routerLink="/List-Redes" class="link">
      <div class="title">Networks</div>
      <div class="bar"></div>
    </a>
    <a routerLink="/listInstructor" class="link">
      <div class="title">Instructors</div>
      <div class="bar"></div>
    </a>
    <a routerLink="/assingment" class="link">
      <div class="title">Assingment</div>
      <div class="bar"></div>
    </a>
  </div>
</div>