<nav class="navbar navbar-expand-lg navbar-light bg-light, header">
  <div class="">
  <a  class="navbar-brand"  href="#"><img src="../../../assets/img/SK.ico"  style="height: 80px;"> System Kinal</a>

</div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor03">
    <ul class="navbar-nav mr-auto" style="height: 100%">
     
      
    </ul>
    <form class="form-inline my-2 my-lg-0">
        <a *ngIf ="rol == 'ADMIN' || rol ==  'DIRECTOR' || rol == 'SECRETARY'" routerLink="/Save-People" class="link">
          <div class="title">Persons</div>
          <div class="bar"></div>
        </a>
        <a *ngIf ="rol == 'ADMIN' || rol ==  'DIRECTOR' || rol == 'SECRETARY'" routerLink="/Add-family" class="link">
          <div class="title">Family</div>
          <div class="bar"></div>
        </a>
        <a *ngIf ="rol == 'ADMIN' || rol ==  'DIRECTOR' || rol  == 'COORDINATOR'" routerLink="/Save-Units-Academic" class="link">
          <div class="title">Units</div>
          <div class="bar"></div>
        </a>
        <a *ngIf =" rol == 'ADMIN' || rol ==  'DIRECTOR' || rol  == 'COORDINATOR'" routerLink="/List-Career" class="link">
          <div class="title">Careers</div>
          <div class="bar"></div>
        </a>
        <a *ngIf ="rol == 'ADMIN' || rol ==  'DIRECTOR' || rol  == 'COORDINATOR'"  routerLink="/List-Course" class="link">
          <div class="title">Courses</div>
          <div class="bar"></div>
        </a>
        <a *ngIf ="rol == 'ADMIN' || rol ==  'DIRECTOR' || rol  == 'COORDINATOR'" routerLink="/List-Redes" class="link">
          <div class="title">Networks</div>
          <div class="bar"></div>
        </a>
        <a *ngIf ="rol == 'ADMIN' || rol ==  'DIRECTOR' || rol  == 'COORDINATOR'" routerLink="/listInstructor" class="link">
          <div class="title">Instructors</div>
          <div class="bar"></div>
        </a>
        <a *ngIf ="rol == 'ADMIN' || rol ==  'DIRECTOR' || rol  == 'COORDINATOR' || rol ==  'INSTRUCTOR'" routerLink="/List-Assignment" class="link">
          <div class="title">Assingment</div>
          <div class="bar"></div>
        </a>
        <!-- <a routerLink="/Enroll-Instructor" class="link">
          <div class="title">Instructor</div>
          <div class="bar"></div>
        </a> -->
        <a *ngIf = " rol == 'ADMIN' || rol ==  'DIRECTOR' || rol == 'SECRETARY' "  routerLink="/Enroll-Student" class="link">
          <div class="title">Student</div>
          <div class="bar"></div>
        </a>
        <a *ngIf ="rol == 'ADMIN' || rol ==  'DIRECTOR' || rol ==  'INSTRUCTOR' || rol  == 'COORDINATOR' " routerLink="/List-assignment-Instructor-Course" class="link">
          <div class="title">Assingment Instructor</div>
          <div class="bar"></div>
        </a>

        <a *ngIf ="!isLogged" routerLink="/Login" class="link">
          <div class="title">Login</div>
          <div class="bar"></div>
        </a>
        <a *ngIf ="isLogged && rol == 'ADMIN' " routerLink="/Create-User" class="link">
          <div class="title">Crear Usuario</div>
          <div class="bar"></div>
        </a>
        <!-- <a *ngIf ="isLogged" class="link">
          <div class="title" (click)="Users()">Users</div>
          <div class="bar"></div>
        </a> -->
        <a *ngIf ="isLogged" class="link">
          <div class="title" (click)="onLogout()">Logout</div>
          <div class="bar"></div>
        </a>
        
    </form>
  </div>
</nav>

