
<br>
<h1 class="display-4">Inscribir Instructor</h1>
<div style="width:50%; margin-left:24%">
   <!-- <div style="width:40%; margin-left:27%">-->
<hr class="class">
</div>
<div id="maxWidth" class="shadow p-3 mb-5 bg-white rounded">

    <div class="conteiner">
      <br>
        <div class="row">
            <div class="col md-4">
                <form name="form" [formGroup]="form">
                  <select  class="form-control" formControlName="course" required="" class="custom-select" [(ngModel)]="this.assignment.course"
                    [ngClass]="{'is-invalid': 
                    form.get('course').touched && form.get('course').invalid}"  required="" class="custom-select">
                      <option value="" hidden></option>               
                      <option value="{{curso._id}}" *ngFor="let curso of courses">{{curso.name}}</option>
                  </select>
                  <label for="course" alt='Curso' placeholder='Curso'></label>
                  <div class="invalid-feedback">
                    <div>
                        Seleccione el curso
                    </div>
                </div>
              </form>  
            </div>
        </div>
    </div>
<hr>
<div class="conteiner">
  <br>
    <div class="row">
      <div class="col md-4">
        <form name="form" [formGroup]="form">
            <select [(ngModel)]="this.assignment.instructor" class="form-control" formControlName="instructor" required="" class="custom-select"
            [ngClass]="{'is-invalid': 
                form.get('instructor').touched && form.get('instructor').invalid}">
                <option value="" hidden></option>               
                <option value="{{personName._id}}" *ngFor="let personName of nameInstructor">{{personName.firstName}} {{personName.firstLastName}}</option>
            </select>
            <label for="Instructor" alt='Instructor' placeholder='Instructor'></label>
            <div class="invalid-feedback">
              <div>
                  Seleccione el  Instructor
              </div>
          </div>
        </form>   
      </div>
    </div>
</div>
<hr>
<div style="text-align: right">
<button type="button" (click)='onSumit()' class="btn btn-outline-primary">Inscribir instructor</button>
</div>

</div>

