<div id="maxWidth" >
  <h1 class="display-4">
      Asignacion de Jornada y Seccion 
  </h1>
  <div style="width:75%; margin-left:13%">
  <hr class="hola">
  </div>
  <div class="shadow p-3 mb-5 bg-white rounded" style="width:75%; margin-left: 13%">
  <br>
  <div class="conteiner" style="">
      <div class="row">
        <div class="col md-4">
          <form name="form" [formGroup]="form">
              <select  class="form-control" formControlName="jornada" required="" [ngClass]="{'is-invalid': 
              form.get('jornada').touched && form.get('jornada').invalid}" class="custom-select" [(ngModel)]="this.assignment.workingDay">
                  <option value="" hidden></option>
                  <option value="MATUTINA">Matutina</option>
                  <option value="VESPERTINA">Vespertina</option>
              </select>
              <label for="Jornada" alt='Jornada' placeholder='Jornada'></label>
              <div class="invalid-feedback">
                <div style="margin-left: 3%; position: absolute; top: 70%">
                    Seleccione la Jornada
                </div>
            </div>
          </form>   
      </div>
          <div class="col md-4" style="">
            <form name="form" [formGroup]="form">
                <select  class="form-control" formControlName="section" [ngClass]="{'is-invalid': 
                form.get('section').touched && form.get('section').invalid}"  required="" class="custom-select" [(ngModel)]="this.assignment.section">
                    <option value="" hidden></option>
                    <option value="A" >A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="E">E</option>
                    <option value="F">F</option>
                    <option value="G">G</option>
                    <option value="G">H</option>
                </select>
                <label for="Seccion" alt='Seccion' placeholder='Seccion'></label>
                <div class="invalid-feedback">
                  <div style="margin-left: 3%; position: absolute; top: 70%">
                      Seleccione la Seccion
                  </div>
              </div>
            </form>   
        </div>
      </div>
  </div>
  <br>
  <div class="conteiner">
    <div class="row">
      <div class="col md-4">
        <form name="form" [formGroup]="form">
            <div class="col md-4">
              <select style="margin-left: -10px; width: 85%;" class="form-control" formControlName="course" required="" class="custom-select" [(ngModel)]="this.assignment.course"
              [ngClass]="{'is-invalid': 
              form.get('course').touched && form.get('course').invalid}"  required="" class="custom-select">
                <option value="" hidden></option>               
                <option value="{{curso._id}}" *ngFor="let curso of courses">{{curso.name}}</option>
              </select>
              <label style="margin-left: -18px;" for="course" alt='Curso' placeholder='Curso' ></label>
              <button type="button" class="btn btn-outline-info" style="margin-left:73%; position: absolute; top: 17%; margin-bottom: 1%" (click)="addCourse()">+</button>
            </div>
            <div class="invalid-feedback">
              <div>
                  Seleccione el curso
              </div>
          </div>
        </form>   
    </div>
    <div class="col md-4">
      <!-- tome el Seleccionar carrera de redes de estudio ya que es lo mismo -->
      <form name="form" [formGroup]="form">
          <select [(ngModel)]="this.assignment.career" class="form-control" formControlName="career" [ngClass]="{'is-invalid': 
          form.get('career').touched && form.get('career').invalid}"  required="" class="custom-select">
              <option value="" hidden></option>
              <option value="{{carrera._id}}" *ngFor="let carrera of careers" >{{carrera.name}}</option>
          </select>
          <label for="Carrera" alt='Carrera' placeholder='Carrera'></label>
          <div class="invalid-feedback">
            <div style="margin-left: 3%; position: absolute; top: 70%">
                Seleccione la carrera
            </div>
        </div>
      </form>   
  </div>
  <div class="col md-4">
    <!-- tome el Seleccionar carrera de redes de estudio ya que es lo mismo -->
    <form name="form" [formGroup]="form">
        <select [(ngModel)]="this.assignment.grader" class="form-control" formControlName="grader" [ngClass]="{'is-invalid': 
        form.get('grader').touched && form.get('grader').invalid}"  required="" class="custom-select">
            <option value="" hidden></option>
            <option value="{{grado._id}}" *ngFor="let grado of graders" >{{grado.grader}}</option>
        </select>
        <label for="Grado" alt='Grado' placeholder='Grado'></label>
        <div class="invalid-feedback">
          <div style="margin-left: 3%; position: absolute; top: 70%">
              Seleccione el grado
          </div>
      </div>
    </form>   
</div>
    </div>
</div>
<hr>
    <button type="button" style="margin-left: 70%" class="btn btn-outline-primary float-right mb-3" (click)="onSubmit()">Enviar formulario</button>
      
   <br>
   <br>
  </div>
  </div>